# Ignore bundler config
/.bundle

# Ignore temporary files and directories
/log/*
/tmp/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/public/uploads

# Ignore system files
.DS_Store
.byebug_history

# Ignore node modules
/node_modules
/yarn-error.log

# Ignore compiled assets
/public/assets
/public/packs
/public/packs-test
/public/uploads
/storage/*
/coverage/

# Ignore gems
/vendor/bundle

# Ignore Docker and Docker Compose
/docker-compose.override.yml
/docker-compose.yml
/Dockerfile

# Ignore specific files
../webApp.zip
